*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    background-color: rgb(180, 142, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
}
.voltar{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 80%;
}
h1{
    width: 100%;
}
li{
    width:25% ;
    text-decoration: none;
}
ul{
    width: 100%;
    list-style: circle;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
}

footer{
    border: solid;
    flex-wrap: wrap;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}
a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    width: 100%;
    border: solid 2px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}