*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pseudoheader{
    display: flex;
    flex-direction: column;
    padding-left:3vh ;
    padding-top:3vh ;
    height: 40vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(standard_compressed_8143427835_7d42aebb2f_o.jpg);
}
.textinicio{
    color:white;
    font-size: 10vh;
}
h1{
    font-size: 9vh;
    color: White;
    font-family: 'Krona One', sans-serif;
}
footer{
    width: 100%;
    background-color: rgb(180, 142, 94);
    display: flex;
    justify-content: center;
    border: solid;
    font-size: 700;
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
p{
        font-family:'Montserrat', sans-serif ;
        font-weight: 300;
        width: 80%;
        padding-bottom: 3vh;
        padding-top: 3vh;

}
h2{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}
.texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
img{
    width: 80%;
}